<p style="font-size:16px; margin-top:0;">Hi {{fullName}},</p>
<p style="font-size:16px;">Thank you for requesting access to Soseki!</p>
<p style="font-size:16px;">We have received your request and added you to our waitlist. We are currently rolling out access in batches to ensure a high-quality experience for everyone.</p>
<p style="font-size:16px;">We will notify you at this email address as soon as your account is ready for onboarding.</p>
<p style="font-size:16px;">If you have any questions in the meantime, feel free to reply directly to this email.</p>
<p style="font-size:16px; margin-top: 2rem;">Best,<br/>The Soseki Team</p>
