<p style="font-size:16px; margin-top:0;">Hi {{firstName}},</p>
<p style="font-size:16px;">Thanks for reaching out! We have received your message and our team will get back to you as soon as possible.</p>
<p style="font-size:16px;">Best,<br>The Soseki Team</p>
