<p style="font-size:16px; margin-top:0;">Hello {{name}},</p>
<p style="font-size:16px;">{{{message}}}</p>
{{#if actionUrl}}
<p style="text-align: center; margin-top: 30px;">
    <a href="{{actionUrl}}" class="btn">{{actionText}}</a>
</p>
{{/if}}
