<p style="font-size:16px; margin-top:0;">Hello {{name}},</p>
<p style="font-size:16px;">Welcome to Soseki App! Your account has been created successfully.</p>
<p style="font-size:16px;">Here are your login credentials:</p>
<ul style="font-size:16px;">
    <li><strong>Email:</strong> {{email}}</li>
    <li><strong>Temporary Password:</strong> {{password}}</li>
</ul>
<p style="font-size:16px;">We recommend you log in and change your password as soon as possible.</p>
<p style="text-align: center; margin-top: 30px;">
    <a href="{{loginUrl}}" class="btn">Log in to your account</a>
</p>
